{% extends "layout.html" %}
{% block title %}Gửi thông báo{% endblock %}

{% block content %}
<div class="container notification-send">

    <h2>📢 Gửi thông báo</h2>

    <form method="post" class="card-form">
        <div class="form-group">
            <label>Tiêu đề</label>
            <input type="text" name="tieu_de" required>
        </div>

        <div class="form-group">
            <label>Nội dung</label>
            <textarea name="noi_dung" rows="5" required></textarea>
        </div>

        <button class="btn btn-primary">Gửi thông báo</button>
    </form>

</div>
{% endblock %}
