{% extends "layout.html" %}
{% block content %}

<div class="card form-card">
    <h3>✏️ Chỉnh sửa Ban</h3>

    <form method="post">
        <div class="form-group">
            <label>Tên ban</label>
            <input type="text"
                   name="ten_ban"
                   class="form-control"
                   value="{{ team.ten_ban }}"
                   required>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea name="mo_ta"
                      class="form-control"
                      rows="3">{{ team.mo_ta }}</textarea>
        </div>

        <div class="form-actions">
            <button class="btn btn-primary">Lưu</button>
            <a href="{{ url_for('team.chi_tiet_ban', team_id=team.id) }}"
               class="btn btn-soft">
                Hủy
            </a>
        </div>
    </form>
</div>

{% endblock %}
